h1{
  margin: 0;
}
#sign-in-container{
  height: auto;
  width: 400px;
  margin: 40px auto;
  justify-content: center;
    #sign-in-form{
      text-align: center;
    .input-area{
      height: 50px;
      margin: 10px;
      width: 250px;
      font-size: 20px;
      font-weight: bold;
      border-style: none;
      border-bottom: 1px solid black;
      outline: none;
      font-family: 'Montserrat', sans-serif;
    }
    #submit-button{
      display: block;
      margin: 20px auto;
      height: 50px;
      width: 250px;
      border-style: none;
      outline: none;
      cursor: pointer;
      border-radius: 6px;
      text-align: center;
      font-size: 20px;
      background-color: #3333ff;
      color: white;
      font-family: 'Montserrat', sans-serif;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
      &:hover{
        background-color: #4d4dff;
      }
      &:active{
        background-color: #0000b3;
      }
    }
  }
  #create-account{
    height: 30px;
    width: 250px;
    margin: auto;
    text-align: right;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    &:hover{
      font-weight: bold;
      text-decoration: underline;
    }
  }
}
