<div id="sign-in-container">
  <form id="sign-in-form" action="/signinform" method="post">
    <input class="input-area" type="text" name="email" value="matt.wojtkun@gmail.com" placeholder="Email">
    <input class="input-area" type="text" name="password" value="coder2017" placeholder="Password">
    <button id="submit-button" type="submit">Sign In</button>
  </form>
  <div id="create-account">
    <p id="sign-up-text">Create an Account!</p>
  </div>
</div>
